body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
}
.cabecera{
    color: white;
    background-color: rgb(27, 27, 129);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 25px;
}